.dark {
    transition: background-color getProperty(time);

    & .movie-card__img {
        box-shadow: 0 0 20px getColor(primary-text-color);
    }

    & .footer {
        background-color: getColor(current-page);
    }

    & .footer__btn {
        border-bottom: 1px solid getColor(white-text-color);
        color: getColor(white-text-color);
    }

    & .footer__info {
        color: getColor(white-text-color);
    }
}

.material-icons {
    font-size: 23px;
    color: getColor(white-text-color);
    transition: color getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        color: getColor(accent-text-color);
    }
}

.theme {
    position: absolute;
    top: 185px;
    right: 20vw;
}

.dark body {
    background-color: getColor(modal-overlay);
}

.dark .movie-card__info-title {
    color: getColor(white-text-color);
}

.dark .card__genre,
.dark .card__year {
    color: getColor(white-text-color);
}

.dark .modal-movie,
.dark .modal_login {
    background-color: rgba(140, 140, 140, 0.9);
    color: getColor(white-text-color);
}

.dark .modal-movie__cell--gray-text,
.dark .modal_login__label,
.dark .signUp_now__text,
.dark .modal_login__text,
.dark .upcoming__info-genre,
.dark .upcoming__title {
    color: getColor(white-text-color);
}

.dark .button--trailer,
.dark .button--modal-btn,
.dark .modal_login__button_register {
    color: getColor(white-text-color);
    border-color: getColor(white-text-color);
}

.dark .close-btn__icon {
    fill: getColor(white-text-color);

    transition: fill getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        fill: getColor(accent-text-color);
    }
}

.dark .modal_login__icon {
    fill: getColor(primary-text-color);
}

.dark .button.disabled_for_signUp {
    background-color: rgba(0, 0, 0, 0.4);

}